<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    
  
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
          <section name="Dispatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--connectionString="Data Source=localhost\sqlexpress;Initial Catalog=domy59;persist security info=True;User ID=sa;PWD=root;"-->
    <!--connectionString="Data Source=BDDSLAMSERVER;Initial Catalog=domy59;Integrated Security=True"-->
    <add name="SqlConnectionDomy59"
     connectionString="Data Source=localhost\sqlexpress;Initial Catalog=domy59;persist security info=True;User ID=sa;PWD=root"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <!--paramètre pour la connexion a l'AD-->
    <add key="LDAP_SERVER" value="domy59.local"/>
    <!--parametres pour la connexion au Web Service SMS-->
    <add key="CLE_PUBLIC" value="30818902818100B011919647C1470F852B979951C5EB98B4C6B70FFF7B12356BD05386E9D467C8E0DE0807AD71EA5BEE5ECE9B5248EE3A53E145FF4C0A2386E7DC2F2E69FC5E112F63EB0784814821D7C52875C1C726D5D09DDC30282DF10BB23E018EF0A8F9511015BB3F135B52C738AE957D21F22171BD55200E09143A20AAE53B5F3CF53A9D0203010001"/>
    <add key="PASS_SMS" value="P@sswd/sms59"/>
  <!-- ... -->
  </appSettings>
<applicationSettings>
        <Dispatcher.Properties.Settings>
                <setting name="Dispatcher_refWsValidEmail_WebServiceVerificationEmail"
                        serializeAs="String">
                        <value>https://domy59efficom.eu/WebServiceVerificationEmail.asmx</value>
                </setting>
                <setting name="Dispatcher_refWsSms_WebServiceSms" serializeAs="String">
                        <value>https://domy59efficom.eu/WebServiceSms.asmx</value>
                </setting>
        </Dispatcher.Properties.Settings>
    </applicationSettings>
</configuration>